/* Background Gradient */
.gamepadlibrary_GamepadLibrary_ZBBhe {
    background: linear-gradient(142deg, rgb(11 130 215) 0%, rgb(83 92 227) 50%, rgb(171 0 197) 100%);
}

/*  Tab font color */
.gamepadtabbedpage_Tab_3eEbS {
    color: #e2bcff;
}

/* Selected Tab */
.gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b {
    background-color: #eb8eff47;
    color: #ffffff;
}

/* Tab Number */
.gamepadtabbedpage_TabCount_1ui4I {
    color: #ffffff;
}

/* Selected Tab Number */
.gamepadtabbedpage_Tab_3eEbS.gpfocus .gamepadtabbedpage_TabCount_1ui4I {
    color: #ffffff;
}