/* Background Gradient */
.gamepadlibrary_GamepadLibrary_ZBBhe {
    background: linear-gradient(142deg, rgb(7 191 134) 0%, rgb(14 158 211) 57%, rgb(0 128 223) 100%);
}

/*  Tab font color */
.gamepadtabbedpage_Tab_3eEbS {
    color: #00ffdc;
}

/* Selected Tab */
.gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b {
    background-color: #18ffe547;
    color: #ffffff;
}

/* Tab Number */
.gamepadtabbedpage_TabCount_1ui4I {
    color: #ffffff;
}

/* Selected Tab Number */
.gamepadtabbedpage_Tab_3eEbS.gpfocus .gamepadtabbedpage_TabCount_1ui4I {
    color: #ffffff;
}